In [138]:
import pandas as pd

In [139]:
campaigns = pd.read_excel(io="6degree_dataset.xlsx", sheet_name=0)
campaigns

,campaign_id,campaign_name,start_date,end_date,channel,discount_type,discount_value
0,1,Spring Flash Sale,2025-04-01,2025-04-07,Email,Percentage,0.10
1,2,Easter Promotion,2025-04-08,2025-04-15,Social Media,Fixed,10.00
2,3,Mother's Day Campaign,2025-05-01,2025-05-09,Email,Percentage,0.25
3,4,Mid-Season Clearance,2025-05-10,2025-05-19,App Mobile,Percentage,0.30
4,5,MATRIX Week,2025-05-20,2025-05-31,Social Media,Percentage,0.30
5,6,June Price Drop,2025-06-01,2025-06-09,Website Banner,Percentage,0.10
6,7,Early Summer Deals,2025-06-10,2025-06-17,Email,Fixed,12.00

In [140]:
campaigns.dtypes

campaign_id                int64
campaign_name             object
start_date        datetime64[ns]
end_date          datetime64[ns]
channel                   object
discount_type             object
discount_value           float64
dtype: object

In [141]:
for col in campaigns.select_dtypes(include='object').columns:
    print(f"\n{col} ({campaigns[col].nunique()} unique)")
    print(campaigns[col].unique())

campaign_name (7 unique)
['Spring Flash Sale' 'Easter Promotion' "Mother's Day Campaign"
 'Mid-Season Clearance' 'MATRIX Week' 'June Price Drop'
 'Early Summer Deals']

channel (4 unique)
['Email' 'Social Media' 'App Mobile' 'Website Banner']

discount_type (2 unique)
['Percentage' 'Fixed']

In [142]:
campaigns.select_dtypes(include='number').agg(['min', 'max'])

     campaign_id  discount_value
min            1             0.1
max            7            12.0

In [143]:
campaigns.select_dtypes(include='datetime').agg(['min', 'max'])

    start_date   end_date
min 2025-04-01 2025-04-07
max 2025-06-10 2025-06-17

In [144]:
channels = pd.read_excel(io="6degree_dataset.xlsx", sheet_name=1)
channels

      channel            description
0  E-commerce  Official online store
1  App Mobile       Brand mobile app

In [145]:
channels.dtypes

channel        object
description    object
dtype: object

In [146]:
customers = pd.read_excel(io="6degree_dataset.xlsx", sheet_name=2)
customers

     customer_id      country age_range signup_date
0              1       France     56-65  2025-04-24
1              2       France     36-45  2025-02-24
2              3  Netherlands     46-55  2024-04-12
3              4        Italy     36-45  2025-03-11
4              5        Spain     26-35  2025-04-26
..           ...          ...       ...         ...
995          996      Germany     16-25  2025-05-08
996          997        Italy     56-65  2025-03-29
997          998       France     36-45  2025-01-07
998          999      Germany     56-65  2025-02-21
999         1000        Spain     56-65  2024-01-06

[1000 rows x 4 columns]

In [147]:
customers.dtypes

customer_id             int64
country                object
age_range              object
signup_date    datetime64[ns]
dtype: object

In [148]:
for col in customers.select_dtypes(include='object').columns:
    print(f"\n{col} ({customers[col].nunique()} unique)")
    print(customers[col].unique())

country (6 unique)
['France' 'Netherlands' 'Italy' 'Spain' 'Germany' 'Portugal']

age_range (5 unique)
['56-65' '36-45' '46-55' '26-35' '16-25']

In [149]:
customers.select_dtypes(include='number').agg(['min', 'max'])

     customer_id
min            1
max         1000

In [150]:
customers.select_dtypes(include='datetime').agg(['min', 'max'])

    signup_date
min  2024-01-02
max  2025-06-12

In [151]:
products = pd.read_excel(io="6degree_dataset.xlsx", sheet_name=3)
products

,product_id,product_name,category,brand,color,size,catalog_price,cost_price,gender
0,1,Soft Wrap Dress,Dresses,MATRIX,Green,S,40.41,20.70,Female
1,2,Soft Wrap Tee,T-Shirts,MATRIX,White,S,78.45,53.76,Female
2,3,Soft Linen Tee,T-Shirts,MATRIX,Green,XL,23.90,14.81,Female
3,4,Soft Ribbed Tee,T-Shirts,MATRIX,White,S,60.00,34.78,Female
4,5,Soft Wrap Trousers,Pants,MATRIX,Blue,M,36.84,16.46,Female
...,...,...,...,...,...,...,...,...,...
495,496,Tailored High-Waist Trousers,Pants,MATRIX,Black,S,54.61,27.63,Female
496,497,Dresses Drop 8,Dresses,MATRIX,Black,L,36.05,20.73,Female
497,498,T-Shirts Drop 8,T-Shirts,MATRIX,White,L,38.33,16.23,Female
498,499,Sleepwear Drop 4,Sleepwear,MATRIX,Green,M,30.07,20.82,Female
499,500,Dresses Drop 9,Dresses,MATRIX,White,XS,38.03,26.46,Female

In [152]:
products.dtypes

product_id         int64
product_name      object
category          object
brand             object
color             object
size              object
catalog_price    float64
cost_price       float64
gender            object
dtype: object

In [153]:
for col in products.select_dtypes(include='object').columns:
    print(f"\n{col} ({products[col].nunique()} unique)")
    print(products[col].unique())

product_name (500 unique)
['Soft Wrap Dress' 'Soft Wrap Tee' 'Soft Linen Tee' 'Soft Ribbed Tee'
 'Soft Wrap Trousers' 'Soft Wrap Shoes' 'Soft Linen Dress'
 'Soft Linen Trousers' 'Soft Linen Shoes' 'Soft Ribbed Trousers'
 'Soft Ribbed Shoes' 'Soft Ribbed Dress' 'Soft Cotton Shoes'
 'Soft Cotton Dress' 'Soft Cotton Tee' 'Soft Cotton Trousers'
 'Soft Satin Dress' 'Soft Satin Shoes' 'Soft Silk Dress' 'Soft Crew Dress'
 'Soft Silk Shoes' 'Soft Satin Tee' 'Soft Sleeveless Dress'
 'Soft High-Waist Dress' 'Soft Wrap Set' 'Soft Crew Shoes'
 'Soft Boxy Dress' 'Soft Sleeveless Shoes' 'Soft Linen Set'
 'Soft Satin Trousers' 'Soft Silk Trousers' 'Soft Silk Tee'
 'Modern Wrap Dress' 'Modern Linen Dress' 'Modern Ribbed Dress'
 'Modern Cotton Dress' 'Soft Crew Trousers' 'Soft Crew Tee'
 'Soft Sleeveless Trousers' 'Soft High-Waist Trousers'
 'Soft Boxy Trousers' 'Soft Ribbed Set' 'Modern Satin Dress'
 'Modern Wrap Trousers' 'Soft Sleeveless Tee' 'Soft Cotton Set'
 'Soft High-Waist Tee' 'Soft High-Waist Shoes' 'Soft Boxy Tee'
 'Modern Wrap Tee' 'Soft Satin Set' 'Modern Linen Tee' 'Soft Boxy Shoes'
 'Modern Silk Dress' 'Modern Ribbed Tee' 'Modern Wrap Shoes'
 'Modern Crew Dress' 'Modern Sleeveless Dress' 'Soft Silk Set'
 'Modern Cotton Tee' 'Modern Satin Tee' 'Modern Linen Trousers'
 'Soft Crew Set' 'Soft Sleeveless Set' 'Modern Silk Tee'
 'Modern High-Waist Dress' 'Modern Crew Tee' 'Soft High-Waist Set'
 'Modern Linen Shoes' 'Modern Boxy Dress' 'Modern Ribbed Trousers'
 'Classic Wrap Dress' 'Soft Boxy Set' 'Modern Wrap Set' 'Modern Linen Set'
 'Modern Cotton Trousers' 'Classic Linen Dress' 'Modern Ribbed Shoes'
 'Modern Satin Trousers' 'Classic Ribbed Dress' 'Modern Ribbed Set'
 'Classic Cotton Dress' 'Modern Sleeveless Tee' 'Modern Cotton Shoes'
 'Classic Satin Dress' 'Modern Cotton Set' 'Classic Silk Dress'
 'Modern Satin Set' 'Modern Satin Shoes' 'Modern Silk Shoes'
 'Modern Silk Set' 'Modern Crew Shoes' 'Modern Silk Trousers'
 'Modern Sleeveless Shoes' 'Modern Crew Set' 'Modern High-Waist Tee'
 'Modern High-Waist Shoes' 'Modern Boxy Shoes' 'Modern Boxy Tee'
 'Classic Crew Dress' 'Classic Wrap Tee' 'Classic Linen Tee'
 'Classic Ribbed Tee' 'Classic Wrap Shoes' 'Classic Cotton Tee'
 'Classic Satin Tee' 'Classic Linen Shoes' 'Modern Crew Trousers'
 'Classic Sleeveless Dress' 'Classic High-Waist Dress'
 'Modern Sleeveless Trousers' 'Modern Sleeveless Set' 'Classic Boxy Dress'
 'Classic Ribbed Shoes' 'Modern High-Waist Set'
 'Modern High-Waist Trousers' 'Vintage Wrap Dress' 'Classic Silk Tee'
 'Vintage Linen Dress' 'Modern Boxy Set' 'Classic Cotton Shoes'
 'Modern Boxy Trousers' 'Classic Wrap Set' 'Classic Linen Set'
 'Classic Satin Shoes' 'Classic Silk Shoes' 'Classic Wrap Trousers'
 'Classic Crew Tee' 'Classic Linen Trousers' 'Classic Ribbed Set'
 'Classic Cotton Set' 'Classic Crew Shoes' 'Classic Sleeveless Tee'
 'Classic Ribbed Trousers' 'Classic Sleeveless Shoes'
 'Classic Cotton Trousers' 'Classic Satin Trousers'
 'Classic High-Waist Shoes' 'Classic High-Waist Tee'
 'Vintage Ribbed Dress' 'Vintage Cotton Dress' 'Vintage Satin Dress'
 'Classic Satin Set' 'Classic Silk Trousers' 'Classic Boxy Shoes'
 'Vintage Wrap Shoes' 'Vintage Linen Shoes' 'Classic Boxy Tee'
 'Classic Crew Trousers' 'Vintage Wrap Tee' 'Classic Sleeveless Trousers'
 'Classic Silk Set' 'Vintage Ribbed Shoes' 'Classic Crew Set'
 'Vintage Silk Dress' 'Vintage Crew Dress' 'Classic Sleeveless Set'
 'Vintage Sleeveless Dress' 'Classic High-Waist Trousers'
 'Classic High-Waist Set' 'Vintage Linen Tee' 'Classic Boxy Set'
 'Vintage Wrap Set' 'Vintage High-Waist Dress' 'Vintage Cotton Shoes'
 'Vintage Satin Shoes' 'Vintage Silk Shoes' 'Vintage Ribbed Tee'
 'Vintage Linen Set' 'Vintage Boxy Dress' 'Polished Wrap Dress'
 'Vintage Crew Shoes' 'Polished Linen Dress' 'Vintage Ribbed Set'
 'Vintage Cotton Tee' 'Polished Ribbed Dress' 'Vintage Cotton Set'
 'Classic Boxy Trousers' 'Vintage Satin Tee' 'Vintage Sleeveless Shoes'
 'Vintage High-Waist Shoes' 'Vintage Satin Set' 'Vintage Silk Set'
 'Vintage Wrap Trousers' 'Vintage Linen Trousers' 'Vintage Boxy Shoes'
 'Vintage Ribbed Trousers' 'Polished Wrap Shoes' 'Vintage Crew Set'
 'Polished Cotton Dress' 'Polished Satin Dress' 'Polished Silk Dress'
 'Vintage Silk Tee' 'Vintage Sleeveless Set' 'Vintage Crew Tee'
 'Vintage Cotton Trousers' 'Polished Linen Shoes' 'Polished Crew Dress'
 'Polished Sleeveless Dress' 'Vintage High-Waist Set'
 'Vintage Sleeveless Tee' 'Vintage High-Waist Tee'
 'Polished High-Waist Dress' 'Polished Boxy Dress'
 'Vintage Satin Trousers' 'Vintage Silk Trousers' 'Vintage Boxy Tee'
 'Polished Wrap Tee' 'Polished Ribbed Shoes' 'Vintage Boxy Set'
 'Polished Cotton Shoes' 'Polished Linen Tee' 'Polished Ribbed Tee'
 'Vintage Crew Trousers' 'Vintage Sleeveless Trousers'
 'Polished Satin Shoes' 'Polished Cotton Tee' 'Polished Satin Tee'
 'Polished Silk Shoes' 'Polished Wrap Set' 'Polished Silk Tee'
 'Relaxed Wrap Dress' 'Vintage High-Waist Trousers' 'Relaxed Linen Dress'
 'Polished Crew Shoes' 'Polished Linen Set' 'Polished Crew Tee'
 'Vintage Boxy Trousers' 'Polished Sleeveless Shoes' 'Polished Ribbed Set'
 'Polished High-Waist Shoes' 'Polished Boxy Shoes' 'Relaxed Wrap Shoes'
 'Polished Sleeveless Tee' 'Polished Cotton Set' 'Relaxed Linen Shoes'
 'Relaxed Ribbed Dress' 'Polished High-Waist Tee' 'Polished Wrap Trousers'
 'Polished Linen Trousers' 'Polished Ribbed Trousers'
 'Relaxed Ribbed Shoes' 'Polished Satin Set' 'Relaxed Cotton Shoes'
 'Relaxed Cotton Dress' 'Relaxed Satin Dress' 'Polished Cotton Trousers'
 'Polished Boxy Tee' 'Polished Silk Set' 'Relaxed Satin Shoes'
 'Relaxed Wrap Tee' 'Relaxed Linen Tee' 'Relaxed Ribbed Tee'
 'Relaxed Silk Shoes' 'Polished Satin Trousers' 'Polished Crew Set'
 'Relaxed Crew Shoes' 'Relaxed Sleeveless Shoes' 'Polished Silk Trousers'
 'Relaxed Silk Dress' 'Relaxed Cotton Tee' 'Polished Sleeveless Set'
 'Relaxed High-Waist Shoes' 'Relaxed Satin Tee' 'Relaxed Boxy Shoes'
 'Polished Crew Trousers' 'Polished High-Waist Set' 'Polished Boxy Set'
 'Relaxed Crew Dress' 'Relaxed Silk Tee' 'Essential Wrap Shoes'
 'Essential Linen Shoes' 'Relaxed Crew Tee' 'Relaxed Wrap Set'
 'Relaxed Sleeveless Tee' 'Relaxed High-Waist Tee' 'Relaxed Boxy Tee'
 'Essential Wrap Tee' 'Relaxed Linen Set' 'Essential Linen Tee'
 'Polished Sleeveless Trousers' 'Polished High-Waist Trousers'
 'Essential Ribbed Shoes' 'Essential Cotton Shoes'
 'Relaxed Sleeveless Dress' 'Essential Satin Shoes' 'Relaxed Ribbed Set'
 'Essential Ribbed Tee' 'Relaxed High-Waist Dress' 'Relaxed Cotton Set'
 'Essential Silk Shoes' 'Essential Cotton Tee' 'Essential Crew Shoes'
 'Essential Sleeveless Shoes' 'Polished Boxy Trousers'
 'Relaxed Boxy Dress' 'Essential High-Waist Shoes' 'Essential Boxy Shoes'
 'Essential Wrap Dress' 'Tailored Wrap Shoes' 'Essential Linen Dress'
 'Essential Satin Tee' 'Relaxed Satin Set' 'Essential Silk Tee'
 'Relaxed Wrap Trousers' 'Relaxed Silk Set' 'Essential Crew Tee'
 'Relaxed Linen Trousers' 'Essential Ribbed Dress'
 'Relaxed Ribbed Trousers' 'Essential Cotton Dress'
 'Essential Satin Dress' 'Relaxed Crew Set' 'Relaxed Sleeveless Set'
 'Essential Sleeveless Tee' 'Essential High-Waist Tee'
 'Relaxed High-Waist Set' 'Essential Boxy Tee' 'Essential Silk Dress'
 'Essential Crew Dress' 'Relaxed Cotton Trousers'
 'Essential Sleeveless Dress' 'Tailored Wrap Tee' 'Tailored Linen Tee'
 'Tailored Linen Shoes' 'Essential High-Waist Dress'
 'Essential Boxy Dress' 'Tailored Wrap Dress' 'Relaxed Boxy Set'
 'Essential Wrap Set' 'Relaxed Satin Trousers' 'Tailored Linen Dress'
 'Relaxed Silk Trousers' 'Tailored Ribbed Dress' 'Tailored Ribbed Shoes'
 'Tailored Ribbed Tee' 'Essential Linen Set' 'Essential Ribbed Set'
 'Tailored Cotton Tee' 'Tailored Cotton Shoes' 'Essential Cotton Set'
 'Essential Satin Set' 'Tailored Satin Tee' 'Tailored Silk Tee'
 'Tailored Crew Tee' 'Relaxed Crew Trousers' 'Tailored Sleeveless Tee'
 'Essential Silk Set' 'Tailored Satin Shoes' 'Essential Crew Set'
 'Relaxed Sleeveless Trousers' 'Essential Sleeveless Set'
 'Relaxed High-Waist Trousers' 'Tailored High-Waist Tee'
 'Relaxed Boxy Trousers' 'Essential High-Waist Set' 'Essential Boxy Set'
 'Tailored Wrap Set' 'Tailored Silk Shoes' 'Tailored Boxy Tee'
 'Tailored Linen Set' 'Tailored Ribbed Set' 'Tailored Cotton Dress'
 'Tailored Satin Dress' 'Elegant Wrap Tee' 'Essential Wrap Trousers'
 'Tailored Silk Dress' 'Elegant Linen Tee' 'Tailored Crew Dress'
 'Elegant Ribbed Tee' 'Elegant Cotton Tee' 'Essential Linen Trousers'
 'Tailored Crew Shoes' 'Tailored Cotton Set' 'Tailored Sleeveless Shoes'
 'Tailored Satin Set' 'Tailored High-Waist Shoes'
 'Essential Ribbed Trousers' 'Essential Cotton Trousers'
 'Tailored Silk Set' 'Elegant Satin Tee' 'Tailored Sleeveless Dress'
 'Tailored Crew Set' 'Tailored Sleeveless Set' 'Essential Satin Trousers'
 'Tailored High-Waist Dress' 'Tailored High-Waist Set'
 'Tailored Boxy Dress' 'Tailored Boxy Set' 'Tailored Boxy Shoes'
 'Elegant Wrap Dress' 'Elegant Wrap Shoes' 'Elegant Wrap Set'
 'Elegant Silk Tee' 'Elegant Linen Dress' 'Elegant Crew Tee'
 'Elegant Ribbed Dress' 'Elegant Linen Set' 'Elegant Linen Shoes'
 'Essential Silk Trousers' 'Elegant Cotton Dress' 'Elegant Ribbed Set'
 'Elegant Satin Dress' 'Elegant Cotton Set' 'Elegant Silk Dress'
 'Essential Crew Trousers' 'Elegant Sleeveless Tee'
 'Elegant High-Waist Tee' 'Elegant Ribbed Shoes' 'Elegant Satin Set'
 'Elegant Silk Set' 'Elegant Cotton Shoes' 'Elegant Satin Shoes'
 'Elegant Crew Set' 'Essential Sleeveless Trousers'
 'Essential High-Waist Trousers' 'Elegant Silk Shoes' 'Elegant Crew Shoes'
 'Elegant Crew Dress' 'Elegant Sleeveless Shoes' 'Elegant Sleeveless Set'
 'Elegant High-Waist Set' 'Elegant Boxy Tee' 'Elegant Sleeveless Dress'
 'Elegant Boxy Set' 'Elegant High-Waist Dress' 'Bold Wrap Set'
 'Elegant High-Waist Shoes' 'Bold Wrap Tee' 'Bold Linen Set'
 'Elegant Boxy Shoes' 'Bold Linen Tee' 'Essential Boxy Trousers'
 'Bold Ribbed Tee' 'Tailored Wrap Trousers' 'Bold Wrap Shoes'
 'Elegant Boxy Dress' 'Bold Wrap Dress' 'Tailored Linen Trousers'
 'Bold Linen Shoes' 'Bold Linen Dress' 'Bold Ribbed Dress'
 'Bold Ribbed Set' 'Bold Cotton Dress' 'Bold Cotton Set' 'Bold Cotton Tee'
 'Bold Satin Dress' 'Bold Silk Dress' 'Bold Satin Set' 'Bold Silk Set'
 'Bold Satin Tee' 'Bold Crew Dress' 'Bold Silk Tee' 'Bold Crew Set'
 'Tailored Ribbed Trousers' 'Bold Sleeveless Dress' 'Bold Crew Tee'
 'Bold Sleeveless Set' 'Bold High-Waist Dress' 'Bold Sleeveless Tee'
 'Bold High-Waist Tee' 'Bold High-Waist Set' 'Bold Boxy Dress'
 'Bold Ribbed Shoes' 'Bold Boxy Set' 'Bold Boxy Tee'
 'Tailored Cotton Trousers' 'Sleepwear Drop 1' 'Dresses Drop 1'
 'Sleepwear Drop 2' 'T-Shirts Drop 1' 'Tailored Satin Trousers'
 'Dresses Drop 2' 'Bold Cotton Shoes' 'Dresses Drop 3' 'Bold Satin Shoes'
 'Bold Silk Shoes' 'T-Shirts Drop 2' 'Dresses Drop 4' 'Dresses Drop 5'
 'Bold Crew Shoes' 'Dresses Drop 6' 'T-Shirts Drop 3'
 'Tailored Silk Trousers' 'Bold Sleeveless Shoes' 'T-Shirts Drop 4'
 'Bold High-Waist Shoes' 'Sleepwear Drop 3' 'T-Shirts Drop 5'
 'Bold Boxy Shoes' 'T-Shirts Drop 6' 'Tailored Crew Trousers'
 'Tailored Sleeveless Trousers' 'T-Shirts Drop 7' 'Dresses Drop 7'
 'Tailored High-Waist Trousers' 'Dresses Drop 8' 'T-Shirts Drop 8'
 'Sleepwear Drop 4' 'Dresses Drop 9']

category (5 unique)
['Dresses' 'T-Shirts' 'Pants' 'Shoes' 'Sleepwear']

brand (1 unique)
['MATRIX']

color (5 unique)
['Green' 'White' 'Blue' 'Red' 'Black']

size (9 unique)
['S' 'XL' 'M' 36 40 'L' 38 'XS' 35]

gender (1 unique)
['Female']

In [154]:
products.select_dtypes(include='number').agg(['min', 'max'])

     product_id  catalog_price  cost_price
min           1          13.51        6.85
max         500          85.90       53.76

In [155]:
sales = pd.read_excel(io="6degree_dataset.xlsx", sheet_name=4)
sales

,sale_id,channel,discounted,total_amount,sale_date,customer_id,country
0,10,E-commerce,0,299.70,2025-05-21,195,France
1,100,App Mobile,0,681.05,2025-04-21,518,Germany
2,1000,E-commerce,0,324.50,2025-05-20,439,Germany
3,1001,E-commerce,0,287.85,2025-04-05,349,Germany
4,1003,App Mobile,0,430.64,2025-06-06,727,Portugal
...,...,...,...,...,...,...,...
900,992,App Mobile,1,214.08,2025-05-13,375,Germany
901,993,E-commerce,0,311.37,2025-04-21,99,Spain
902,994,App Mobile,1,477.09,2025-05-15,798,Portugal
903,995,E-commerce,0,489.02,2025-05-19,565,Spain
904,999,E-commerce,0,109.62,2025-06-16,416,France

In [156]:
sales.dtypes

sale_id                  int64
channel                 object
discounted               int64
total_amount           float64
sale_date       datetime64[ns]
customer_id              int64
country                 object
dtype: object

In [157]:
for col in sales.select_dtypes(include='object').columns:
    print(f"\n{col} ({sales[col].nunique()} unique)")
    print(sales[col].unique())

channel (2 unique)
['E-commerce' 'App Mobile']

country (6 unique)
['France' 'Germany' 'Portugal' 'Spain' 'Italy' 'Netherlands']

In [158]:
sales.select_dtypes(include='number').agg(['min', 'max'])

     sale_id  discounted  total_amount  customer_id
min        2           0         45.50            1
max     1352           1        859.38          999

In [159]:
sales.select_dtypes(include='datetime').agg(['min', 'max'])

     sale_date
min 2025-04-04
max 2025-06-17

In [160]:
items = pd.read_excel(io="6degree_dataset.xlsx", sheet_name=5)
items

,item_id,sale_id,product_id,quantity,original_price,unit_price,discount_applied,discount_percent,discounted,item_total,sale_date,channel,channel_campaigns
0,2270,658,403,1,81.80,81.80,0.00,0.0,0,81.80,2025-06-16,App Mobile,App Mobile
1,1170,336,284,1,81.79,81.79,0.00,0.0,0,81.79,2025-06-17,E-commerce,Website Banner
2,2496,1255,71,1,80.76,80.76,0.00,0.0,0,80.76,2025-04-16,App Mobile,App Mobile
3,1273,331,98,1,78.52,78.52,0.00,0.0,0,78.52,2025-05-06,App Mobile,App Mobile
4,1829,1079,98,1,78.52,78.52,0.00,0.0,0,78.52,2025-06-15,App Mobile,App Mobile
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,516,1300,334,5,20.82,20.82,0.00,0.0,0,104.10,2025-04-15,E-commerce,Website Banner
2249,1240,727,334,5,20.82,20.82,0.00,0.0,0,104.10,2025-04-22,E-commerce,Website Banner
2250,2394,172,246,5,28.98,20.29,8.69,0.3,1,101.43,2025-05-13,App Mobile,App Mobile
2251,1631,986,195,5,16.69,16.69,0.00,0.0,0,83.45,2025-05-23,App Mobile,App Mobile
2252,685,724,346,5,15.31,15.31,0.00,0.0,0,76.55,2025-05-30,E-commerce,Website Banner

In [161]:
items.dtypes

item_id                       int64
sale_id                       int64
product_id                    int64
quantity                      int64
original_price              float64
unit_price                  float64
discount_applied            float64
discount_percent            float64
discounted                    int64
item_total                  float64
sale_date            datetime64[ns]
channel                      object
channel_campaigns            object
dtype: object

In [162]:
for col in items.select_dtypes(include='object').columns:
    print(f"\n{col} ({items[col].nunique()} unique)")
    print(items[col].unique())

channel (2 unique)
['App Mobile' 'E-commerce']

channel_campaigns (4 unique)
['App Mobile' 'Website Banner' 'Social Media' 'Email']

In [163]:
items.select_dtypes(include='number').agg(['min', 'max'])

,item_id,sale_id,product_id,quantity,original_price,unit_price,discount_applied,discount_percent,discounted,item_total
min,2,2,1,1,13.51,11.68,0.00,0.0,0,13.51
max,3367,1352,500,5,85.90,85.90,24.51,0.3,1,403.80

In [164]:
items.select_dtypes(include='datetime').agg(['min', 'max'])

     sale_date
min 2025-04-04
max 2025-06-17

In [165]:
stocks = pd.read_excel(io="6degree_dataset.xlsx", sheet_name=6)
stocks

     country  product_id  stock_quantity
0     France           1              61
1     France           2              24
2     France           3              81
3     France           4              70
4     France           5              30
..       ...         ...             ...
995  Germany         496               1
996  Germany         497               1
997  Germany         498               1
998  Germany         499               1
999  Germany         500               1

[1000 rows x 3 columns]

In [166]:
stocks.dtypes

country           object
product_id         int64
stock_quantity     int64
dtype: object

In [167]:
for col in stocks.select_dtypes(include='object').columns:
    print(f"\n{col} ({stocks[col].nunique()} unique)")
    print(stocks[col].unique())

country (2 unique)
['France' 'Germany']

In [168]:
stocks.select_dtypes(include='number').agg(['min', 'max'])

     product_id  stock_quantity
min           1               1
max         500              99

## Aggregations

In [169]:
# Item ↔ Sales
item_sales = items.merge(
    sales[['sale_id', 'sale_date', 'channel', 'country', 'customer_id']],
    on='sale_id',
    how='left'
)

# Item ↔ Product
item_product = items.merge(
    products,
    on='product_id',
    how='left'
)

In [170]:
task1_df = (
    item_sales
    .merge(
        campaigns,
        left_on='channel_campaigns',
        right_on='channel',
        how='left'
    )
)

In [171]:
task1_df.columns

Index(['item_id', 'sale_id', 'product_id', 'quantity', 'original_price',
       'unit_price', 'discount_applied', 'discount_percent', 'discounted',
       'item_total', 'sale_date_x', 'channel_x', 'channel_campaigns',
       'sale_date_y', 'channel_y', 'country', 'customer_id', 'campaign_id',
       'campaign_name', 'start_date', 'end_date', 'channel', 'discount_type',
       'discount_value'],
      dtype='object')

In [172]:
task1_df = task1_df.rename(columns={
    'sale_date_x': 'sale_date',
    'channel_x': 'sales_channel',
    'channel_campaigns': 'marketing_channel'
})

task1_df = task1_df.drop(columns=['sale_date_y', 'channel_y'])

In [173]:
task1_df.columns

Index(['item_id', 'sale_id', 'product_id', 'quantity', 'original_price',
       'unit_price', 'discount_applied', 'discount_percent', 'discounted',
       'item_total', 'sale_date', 'sales_channel', 'marketing_channel',
       'country', 'customer_id', 'campaign_id', 'campaign_name', 'start_date',
       'end_date', 'channel', 'discount_type', 'discount_value'],
      dtype='object')

In [174]:
task1_df = task1_df.rename(columns={'channel': 'campaign_channel'})

In [175]:
task1_df.columns

Index(['item_id', 'sale_id', 'product_id', 'quantity', 'original_price',
       'unit_price', 'discount_applied', 'discount_percent', 'discounted',
       'item_total', 'sale_date', 'sales_channel', 'marketing_channel',
       'country', 'customer_id', 'campaign_id', 'campaign_name', 'start_date',
       'end_date', 'campaign_channel', 'discount_type', 'discount_value'],
      dtype='object')

In [176]:
task2_df = (
    items
    .merge(
        products[['product_id', 'cost_price', 'catalog_price']],
        on='product_id',
        how='left'
    )
)

In [177]:
task2_df.columns

Index(['item_id', 'sale_id', 'product_id', 'quantity', 'original_price',
       'unit_price', 'discount_applied', 'discount_percent', 'discounted',
       'item_total', 'sale_date', 'channel', 'channel_campaigns', 'cost_price',
       'catalog_price'],
      dtype='object')

In [178]:
task3_df = (
    items
    .merge(
        products,
        on='product_id',
        how='left'
    )
)

In [179]:
task3_df.columns

Index(['item_id', 'sale_id', 'product_id', 'quantity', 'original_price',
       'unit_price', 'discount_applied', 'discount_percent', 'discounted',
       'item_total', 'sale_date', 'channel', 'channel_campaigns',
       'product_name', 'category', 'brand', 'color', 'size', 'catalog_price',
       'cost_price', 'gender'],
      dtype='object')

In [180]:
task4_df = (
    items
    .merge(
        sales[['sale_id', 'country', 'sale_date']],
        on='sale_id',
        how='left'
    )
)

In [181]:
task4_df = task4_df.merge(
    products,
    on='product_id',
    how='left'
)

In [182]:
task4_df = task4_df.merge(
    stocks,
    on=['product_id', 'country'],
    how='left'
)

task4_df['stock_quantity'] = task4_df['stock_quantity'].fillna(0)

In [183]:
task4_df.columns

Index(['item_id', 'sale_id', 'product_id', 'quantity', 'original_price',
       'unit_price', 'discount_applied', 'discount_percent', 'discounted',
       'item_total', 'sale_date_x', 'channel', 'channel_campaigns', 'country',
       'sale_date_y', 'product_name', 'category', 'brand', 'color', 'size',
       'catalog_price', 'cost_price', 'gender', 'stock_quantity'],
      dtype='object')

In [184]:
task4_df = task4_df.rename(columns={
    'sale_date_x': 'sale_date'
}).drop(columns=['sale_date_y'])

In [185]:
task4_df.columns

Index(['item_id', 'sale_id', 'product_id', 'quantity', 'original_price',
       'unit_price', 'discount_applied', 'discount_percent', 'discounted',
       'item_total', 'sale_date', 'channel', 'channel_campaigns', 'country',
       'product_name', 'category', 'brand', 'color', 'size', 'catalog_price',
       'cost_price', 'gender', 'stock_quantity'],
      dtype='object')

In [186]:
task5_df = (
    sales
    .merge(customers, on='customer_id', how='left')
)

In [187]:
task5_df.columns

Index(['sale_id', 'channel', 'discounted', 'total_amount', 'sale_date',
       'customer_id', 'country_x', 'country_y', 'age_range', 'signup_date'],
      dtype='object')

In [188]:
task5_df = task5_df.rename(columns={
    'country_x': 'purchase_country',
    'country_y': 'customer_country'
})

In [189]:
task5_df.columns

Index(['sale_id', 'channel', 'discounted', 'total_amount', 'sale_date',
       'customer_id', 'purchase_country', 'customer_country', 'age_range',
       'signup_date'],
      dtype='object')

## 1. Channels & Campaigns

In [190]:
task1_df

,item_id,sale_id,product_id,quantity,original_price,unit_price,discount_applied,discount_percent,discounted,item_total,...,marketing_channel,country,customer_id,campaign_id,campaign_name,start_date,end_date,campaign_channel,discount_type,discount_value
0,2270,658,403,1,81.80,81.80,0.00,0.0,0,81.80,...,App Mobile,Portugal,835,4,Mid-Season Clearance,2025-05-10,2025-05-19,App Mobile,Percentage,0.3
1,1170,336,284,1,81.79,81.79,0.00,0.0,0,81.79,...,Website Banner,France,790,6,June Price Drop,2025-06-01,2025-06-09,Website Banner,Percentage,0.1
2,2496,1255,71,1,80.76,80.76,0.00,0.0,0,80.76,...,App Mobile,Germany,464,4,Mid-Season Clearance,2025-05-10,2025-05-19,App Mobile,Percentage,0.3
3,1273,331,98,1,78.52,78.52,0.00,0.0,0,78.52,...,App Mobile,Italy,100,4,Mid-Season Clearance,2025-05-10,2025-05-19,App Mobile,Percentage,0.3
4,1829,1079,98,1,78.52,78.52,0.00,0.0,0,78.52,...,App Mobile,Germany,837,4,Mid-Season Clearance,2025-05-10,2025-05-19,App Mobile,Percentage,0.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2406,516,1300,334,5,20.82,20.82,0.00,0.0,0,104.10,...,Website Banner,Germany,147,6,June Price Drop,2025-06-01,2025-06-09,Website Banner,Percentage,0.1
2407,1240,727,334,5,20.82,20.82,0.00,0.0,0,104.10,...,Website Banner,Netherlands,834,6,June Price Drop,2025-06-01,2025-06-09,Website Banner,Percentage,0.1
2408,2394,172,246,5,28.98,20.29,8.69,0.3,1,101.43,...,App Mobile,Spain,398,4,Mid-Season Clearance,2025-05-10,2025-05-19,App Mobile,Percentage,0.3
2409,1631,986,195,5,16.69,16.69,0.00,0.0,0,83.45,...,App Mobile,France,735,4,Mid-Season Clearance,2025-05-10,2025-05-19,App Mobile,Percentage,0.3
2410,685,724,346,5,15.31,15.31,0.00,0.0,0,76.55,...,Website Banner,France,227,6,June Price Drop,2025-06-01,2025-06-09,Website Banner,Percentage,0.1

In [191]:
task1_df.isna().sum()

item_id              0
sale_id              0
product_id           0
quantity             0
original_price       0
unit_price           0
discount_applied     0
discount_percent     0
discounted           0
item_total           0
sale_date            0
sales_channel        0
marketing_channel    0
country              0
customer_id          0
campaign_id          0
campaign_name        0
start_date           0
end_date             0
campaign_channel     0
discount_type        0
discount_value       0
dtype: int64

In [192]:
task1_df.duplicated().sum()

0

In [193]:
channel_perf = (
    task1_df
    .groupby('sales_channel')
    .agg(
        orders=('sale_id', 'nunique'),
        revenue=('item_total', 'sum'),
        avg_order_value=('item_total', 'mean'),
        discounted_items_pct=('discounted', 'mean')
    )
    .reset_index()
)

channel_perf['discounted_items_pct'] = (
    channel_perf['discounted_items_pct'] * 100
).round(2)

channel_perf['revenue_k'] = (channel_perf['revenue'] / 1000).round(2)

channel_perf

,sales_channel,orders,revenue,avg_order_value,discounted_items_pct,revenue_k
0,App Mobile,432,162229.88,134.854431,23.19,162.23
1,E-commerce,473,174000.54,144.040182,8.36,174.00

In [194]:
marketing_channel_perf = (
    task1_df
    .groupby('marketing_channel')
    .agg(
        items_sold=('item_id', 'count'),
        revenue=('item_total', 'sum'),
        avg_item_value=('item_total', 'mean'),
        avg_discount_pct=('discount_percent', 'mean')
    )
    .reset_index()
)

marketing_channel_perf['avg_discount_pct'] = (
    marketing_channel_perf['avg_discount_pct'] * 100
).round(2)

marketing_channel_perf['revenue_k'] = (marketing_channel_perf['revenue'] / 1000).round(2)

marketing_channel_perf

,marketing_channel,items_sold,revenue,avg_item_value,avg_discount_pct,revenue_k
0,App Mobile,963,142892.00,148.382139,1.21,142.89
1,Email,57,3487.23,61.179474,10.00,3.49
2,Social Media,240,19337.88,80.574500,30.00,19.34
3,Website Banner,1151,170513.31,148.143623,0.38,170.51

In [195]:
campaign_perf = (
    task1_df
    .groupby('campaign_name')
    .agg(
        items_sold=('item_id', 'count'),
        revenue=('item_total', 'sum'),
        avg_item_value=('item_total', 'mean'),
        avg_discount_pct=('discount_percent', 'mean')
    )
    .reset_index()
    .sort_values(by='revenue', ascending=False)
)

campaign_perf['avg_discount_pct'] = (
    campaign_perf['avg_discount_pct'] * 100
).round(2)

campaign_perf['revenue_k'] = (campaign_perf['revenue'] / 1000).round(2)

campaign_perf

,campaign_name,items_sold,revenue,avg_item_value,avg_discount_pct,revenue_k
2,June Price Drop,1151,170513.31,148.143623,0.38,170.51
4,Mid-Season Clearance,963,142892.00,148.382139,1.21,142.89
1,Easter Promotion,120,9668.94,80.574500,30.00,9.67
3,MATRIX Week,120,9668.94,80.574500,30.00,9.67
0,Early Summer Deals,19,1162.41,61.179474,10.00,1.16
5,Mother's Day Campaign,19,1162.41,61.179474,10.00,1.16
6,Spring Flash Sale,19,1162.41,61.179474,10.00,1.16

In [196]:
channel_campaign_matrix = (
    task1_df
    .groupby(['sales_channel', 'marketing_channel'])
    .agg(
        revenue=('item_total', 'sum'),
        avg_discount_pct=('discount_percent', 'mean')
    )
    .reset_index()
)

channel_campaign_matrix['avg_discount_pct'] = (
    channel_campaign_matrix['avg_discount_pct'] * 100
).round(2)

channel_campaign_matrix['revenue_k'] = (channel_campaign_matrix['revenue'] / 1000).round(2)

channel_campaign_matrix

  sales_channel marketing_channel    revenue  avg_discount_pct  revenue_k
0    App Mobile        App Mobile  142892.00              1.21     142.89
1    App Mobile      Social Media   19337.88             30.00      19.34
2    E-commerce             Email    3487.23             10.00       3.49
3    E-commerce    Website Banner  170513.31              0.38     170.51

## 2. Pricing & Discounts

In [197]:
task2_df

,item_id,sale_id,product_id,quantity,original_price,unit_price,discount_applied,discount_percent,discounted,item_total,sale_date,channel,channel_campaigns,cost_price,catalog_price
0,2270,658,403,1,81.80,81.80,0.00,0.0,0,81.80,2025-06-16,App Mobile,App Mobile,45.12,81.80
1,1170,336,284,1,81.79,81.79,0.00,0.0,0,81.79,2025-06-17,E-commerce,Website Banner,35.02,81.79
2,2496,1255,71,1,80.76,80.76,0.00,0.0,0,80.76,2025-04-16,App Mobile,App Mobile,51.01,80.76
3,1273,331,98,1,78.52,78.52,0.00,0.0,0,78.52,2025-05-06,App Mobile,App Mobile,41.48,78.52
4,1829,1079,98,1,78.52,78.52,0.00,0.0,0,78.52,2025-06-15,App Mobile,App Mobile,41.48,78.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,516,1300,334,5,20.82,20.82,0.00,0.0,0,104.10,2025-04-15,E-commerce,Website Banner,9.05,20.82
2249,1240,727,334,5,20.82,20.82,0.00,0.0,0,104.10,2025-04-22,E-commerce,Website Banner,9.05,20.82
2250,2394,172,246,5,28.98,20.29,8.69,0.3,1,101.43,2025-05-13,App Mobile,App Mobile,19.66,28.98
2251,1631,986,195,5,16.69,16.69,0.00,0.0,0,83.45,2025-05-23,App Mobile,App Mobile,8.37,16.69
2252,685,724,346,5,15.31,15.31,0.00,0.0,0,76.55,2025-05-30,E-commerce,Website Banner,8.95,15.31

In [198]:
task2_df.isna().sum()

item_id              0
sale_id              0
product_id           0
quantity             0
original_price       0
unit_price           0
discount_applied     0
discount_percent     0
discounted           0
item_total           0
sale_date            0
channel              0
channel_campaigns    0
cost_price           0
catalog_price        0
dtype: int64

In [199]:
task2_df.duplicated().sum()

0

In [200]:
task2_df['gross_margin_per_unit'] = task2_df['unit_price'] - task2_df['cost_price']
task2_df['gross_margin_pct'] = (
    task2_df['gross_margin_per_unit'] / task2_df['unit_price']
)

In [201]:
price_summary = pd.DataFrame({
    'metric': [
        'avg_catalog_price',
        'avg_unit_price',
        'avg_cost_price',
        'avg_margin_per_unit',
        'avg_margin_pct'
    ],
    'value': [
        task2_df['catalog_price'].mean(),
        task2_df['unit_price'].mean(),
        task2_df['cost_price'].mean(),
        task2_df['gross_margin_per_unit'].mean(),
        task2_df['gross_margin_pct'].mean()
    ]
})

price_summary['value'] = price_summary['value'].round(2)
price_summary

                metric  value
0    avg_catalog_price  49.32
1       avg_unit_price  48.14
2       avg_cost_price  27.15
3  avg_margin_per_unit  20.99
4       avg_margin_pct   0.43

In [202]:
discount_comparison = (
    task2_df
    .groupby('discounted')
    .agg(
        items_sold=('item_id', 'count'),
        avg_unit_price=('unit_price', 'mean'),
        avg_discount_pct=('discount_percent', 'mean'),
        avg_margin_per_unit=('gross_margin_per_unit', 'mean'),
        avg_margin_pct=('gross_margin_pct', 'mean')
    )
    .reset_index()
)

discount_comparison['avg_discount_pct'] = (
    discount_comparison['avg_discount_pct'] * 100
).round(2)

discount_comparison[['avg_unit_price',
                     'avg_margin_per_unit',
                     'avg_margin_pct']] = (
    discount_comparison[['avg_unit_price',
                         'avg_margin_per_unit',
                         'avg_margin_pct']].round(2)
)

discount_comparison

,discounted,items_sold,avg_unit_price,avg_discount_pct,avg_margin_per_unit,avg_margin_pct
0,0,2031,49.38,0.00,22.2,0.45
1,1,222,36.84,24.32,9.9,0.26

In [203]:
task2_df['discount_bucket'] = pd.cut(
    task2_df['discount_percent'],
    bins=[-0.01, 0, 0.10, 0.20, 0.30, 1],
    labels=[
        'No Discount',
        '0–10%',
        '10–20%',
        '20–30%',
        '30%+'
    ]
)

In [204]:
discount_bucket_perf = (
    task2_df
    .groupby('discount_bucket')
    .agg(
        items_sold=('item_id', 'count'),
        avg_unit_price=('unit_price', 'mean'),
        avg_margin_per_unit=('gross_margin_per_unit', 'mean'),
        avg_margin_pct=('gross_margin_pct', 'mean'),
        avgdiscount_pct=('discount_percent', 'mean')
    )
    .reset_index()
)

discount_bucket_perf[['avg_unit_price',
                      'avg_margin_pct']] = (
    discount_bucket_perf[['avg_unit_price',
                          'avg_margin_pct']].round(2)
)

discount_bucket_perf

C:\Users\shrey\AppData\Local\Temp\ipykernel_17448\3350679683.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  .groupby('discount_bucket')

,discount_bucket,items_sold,avg_unit_price,avg_margin_per_unit,avg_margin_pct,avgdiscount_pct
0,No Discount,2031,49.38,22.199419,0.45,0.0
1,0–10%,63,42.33,15.954286,0.38,0.1
2,10–20%,0,NaN,NaN,NaN,NaN
3,20–30%,159,34.67,7.495723,0.22,0.3
4,30%+,0,NaN,NaN,NaN,NaN

In [205]:
quantity_discount = (
    task2_df
    .groupby('discounted')
    .agg(
        avg_quantity=('quantity', 'mean'),
        avg_item_total=('item_total', 'mean')
    )
    .reset_index()
)

quantity_discount[['avg_quantity',
                   'avg_item_total']] = (
    quantity_discount[['avg_quantity',
                       'avg_item_total']].round(2)
)

quantity_discount

   discounted  avg_quantity  avg_item_total
0           0          2.99          148.04
1           1          2.85          106.18

In [206]:
revenue_by_discount_flag = (
    task2_df
    .groupby('discounted')
    .agg(
        revenue=('item_total', 'sum'),
        items_sold=('item_id', 'count')
    )
    .reset_index()
)

revenue_by_discount_flag['revenue'] = (
    revenue_by_discount_flag['revenue'].round(2)
)

revenue_by_discount_flag

   discounted    revenue  items_sold
0           0  300663.83        2031
1           1   23572.83         222

In [207]:
task2_df['discount_bucket'] = pd.cut(
    task2_df['discount_percent'],
    bins=[-0.01, 0, 0.10, 0.20, 0.30, 1],
    labels=[
        'No Discount',
        '0–10%',
        '10–20%',
        '20–30%',
        '30%+'
    ]
)

In [208]:
revenue_by_discount_bucket = (
    task2_df
    .groupby('discount_bucket')
    .agg(
        revenue=('item_total', 'sum'),
        items_sold=('item_id', 'count'),
        avg_margin_pct=('gross_margin_pct', 'mean')
    )
    .reset_index()
)

revenue_by_discount_bucket[['revenue',
                            'avg_margin_pct']] = (
    revenue_by_discount_bucket[['revenue',
                                'avg_margin_pct']].round(2)
)

revenue_by_discount_bucket['revenue_k'] = (
    revenue_by_discount_bucket['revenue'] / 1000
)

revenue_by_discount_bucket

C:\Users\shrey\AppData\Local\Temp\ipykernel_17448\3358061836.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  .groupby('discount_bucket')

  discount_bucket    revenue  items_sold  avg_margin_pct  revenue_k
0     No Discount  300663.83        2031            0.45  300.66383
1           0–10%    7747.96          63            0.38    7.74796
2          10–20%       0.00           0             NaN    0.00000
3          20–30%   15824.87         159            0.22   15.82487
4            30%+       0.00           0             NaN    0.00000

## 3. Products

In [209]:
task3_df

,item_id,sale_id,product_id,quantity,original_price,unit_price,discount_applied,discount_percent,discounted,item_total,...,channel,channel_campaigns,product_name,category,brand,color,size,catalog_price,cost_price,gender
0,2270,658,403,1,81.80,81.80,0.00,0.0,0,81.80,...,App Mobile,App Mobile,Elegant Satin Dress,Dresses,MATRIX,Red,L,81.80,45.12,Female
1,1170,336,284,1,81.79,81.79,0.00,0.0,0,81.79,...,E-commerce,Website Banner,Essential Cotton Shoes,Shoes,MATRIX,White,35,81.79,35.02,Female
2,2496,1255,71,1,80.76,80.76,0.00,0.0,0,80.76,...,App Mobile,App Mobile,Modern Ribbed Trousers,Pants,MATRIX,Red,XL,80.76,51.01,Female
3,1273,331,98,1,78.52,78.52,0.00,0.0,0,78.52,...,App Mobile,App Mobile,Modern Boxy Shoes,Shoes,MATRIX,Black,38,78.52,41.48,Female
4,1829,1079,98,1,78.52,78.52,0.00,0.0,0,78.52,...,App Mobile,App Mobile,Modern Boxy Shoes,Shoes,MATRIX,Black,38,78.52,41.48,Female
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,516,1300,334,5,20.82,20.82,0.00,0.0,0,104.10,...,E-commerce,Website Banner,Tailored Ribbed Dress,Dresses,MATRIX,Black,M,20.82,9.05,Female
2249,1240,727,334,5,20.82,20.82,0.00,0.0,0,104.10,...,E-commerce,Website Banner,Tailored Ribbed Dress,Dresses,MATRIX,Black,M,20.82,9.05,Female
2250,2394,172,246,5,28.98,20.29,8.69,0.3,1,101.43,...,App Mobile,App Mobile,Relaxed Satin Dress,Dresses,MATRIX,White,XS,28.98,19.66,Female
2251,1631,986,195,5,16.69,16.69,0.00,0.0,0,83.45,...,App Mobile,App Mobile,Vintage Crew Tee,T-Shirts,MATRIX,Black,XL,16.69,8.37,Female
2252,685,724,346,5,15.31,15.31,0.00,0.0,0,76.55,...,E-commerce,Website Banner,Relaxed Crew Trousers,Pants,MATRIX,Green,XL,15.31,8.95,Female

In [210]:
task3_df.isna().sum()

item_id              0
sale_id              0
product_id           0
quantity             0
original_price       0
unit_price           0
discount_applied     0
discount_percent     0
discounted           0
item_total           0
sale_date            0
channel              0
channel_campaigns    0
product_name         0
category             0
brand                0
color                0
size                 0
catalog_price        0
cost_price           0
gender               0
dtype: int64

In [211]:
task3_df.duplicated().sum()

0

In [212]:
task3_df['gross_margin'] = task3_df['unit_price'] - task3_df['cost_price']
task3_df['gross_margin_pct'] = task3_df['gross_margin'] / task3_df['unit_price']

In [213]:
category_perf = (
    task3_df
    .groupby('category')
    .agg(
        items_sold=('item_id', 'count'),
        revenue=('item_total', 'sum'),
        avg_item_price=('unit_price', 'mean'),
        avg_margin_pct=('gross_margin_pct', 'mean')
    )
    .reset_index()
)

category_perf['revenue_k'] = (category_perf['revenue'] / 1000).round(2)

category_perf[['revenue',
               'avg_item_price',
               'avg_margin_pct']] = (
    category_perf[['revenue',
                   'avg_item_price',
                   'avg_margin_pct']].round(2)
)

category_perf

    category  items_sold   revenue  avg_item_price  avg_margin_pct  revenue_k
0    Dresses         482  68390.64           46.83            0.43      68.39
1      Pants         352  53802.66           50.05            0.45      53.80
2      Shoes         472  70074.00           50.07            0.44      70.07
3  Sleepwear         455  62276.58           45.55            0.41      62.28
4   T-Shirts         492  69692.78           48.61            0.44      69.69

In [214]:
product_revenue = (
    task3_df
    .groupby(['product_id', 'product_name', 'category'])
    .agg(
        items_sold=('quantity', 'sum'),
        revenue=('item_total', 'sum'),
        avg_discount_pct=('discount_percent', 'mean'),
        avg_margin_pct=('gross_margin_pct', 'mean')
    )
    .reset_index()
    .sort_values(by='revenue', ascending=False)
)

product_revenue[['revenue',
                 'avg_discount_pct',
                 'avg_margin_pct']] = (
    product_revenue[['revenue',
                     'avg_discount_pct',
                     'avg_margin_pct']].round(2)
)

product_revenue['revenue_k'] = (product_revenue['revenue'] / 1000).round(2)

top_10_products = product_revenue.head(10)
bottom_10_products = product_revenue.tail(10)

display(top_10_products, bottom_10_products)

,product_id,product_name,category,items_sold,revenue,avg_discount_pct,avg_margin_pct,revenue_k
309,310,Relaxed Ribbed Trousers,Pants,36,2379.30,0.08,0.47,2.38
59,60,Modern Cotton Tee,T-Shirts,25,1919.95,0.04,0.47,1.92
115,116,Modern High-Waist Trousers,Pants,26,1907.66,0.01,0.33,1.91
467,469,Dresses Drop 1,Dresses,29,1858.32,0.00,0.53,1.86
458,459,Bold High-Waist Dress,Dresses,24,1804.08,0.00,0.58,1.80
223,224,Relaxed Linen Dress,Dresses,22,1658.80,0.00,0.49,1.66
296,297,Essential High-Waist Shoes,Shoes,25,1603.18,0.01,0.36,1.60
306,307,Essential Crew Tee,T-Shirts,24,1598.19,0.01,0.44,1.60
238,239,Polished Wrap Trousers,Pants,25,1594.37,0.07,0.35,1.59
9,10,Soft Ribbed Trousers,Pants,20,1594.00,0.00,0.39,1.59

,product_id,product_name,category,items_sold,revenue,avg_discount_pct,avg_margin_pct,revenue_k
414,415,Essential Sleeveless Trousers,Pants,3,86.19,0.0,0.41,0.09
284,285,Relaxed Sleeveless Dress,Dresses,2,81.26,0.0,0.43,0.08
57,58,Modern Sleeveless Dress,Dresses,2,71.62,0.0,0.54,0.07
378,379,Essential Cotton Trousers,Pants,1,70.82,0.0,0.36,0.07
66,67,Modern Crew Tee,T-Shirts,1,67.37,0.0,0.56,0.07
25,26,Soft Crew Shoes,Shoes,1,57.48,0.0,0.36,0.06
423,424,Elegant Sleeveless Dress,Dresses,1,55.39,0.0,0.45,0.06
86,87,Classic Silk Dress,Dresses,1,53.32,0.0,0.38,0.05
376,377,Tailored High-Waist Shoes,Shoes,1,42.50,0.0,0.35,0.04
63,64,Soft Sleeveless Set,Sleepwear,1,13.51,0.0,0.49,0.01

In [215]:
revenue_cutoff = product_revenue['revenue'].quantile(0.75)
margin_cutoff = product_revenue['avg_margin_pct'].quantile(0.25)

In [216]:
high_rev_low_margin = (
    product_revenue[
        (product_revenue['revenue'] >= revenue_cutoff) &
        (product_revenue['avg_margin_pct'] <= margin_cutoff)
    ]
    .sort_values(by='revenue', ascending=False)
)

high_rev_low_margin

,product_id,product_name,category,items_sold,revenue,avg_discount_pct,avg_margin_pct,revenue_k
115,116,Modern High-Waist Trousers,Pants,26,1907.66,0.01,0.33,1.91
296,297,Essential High-Waist Shoes,Shoes,25,1603.18,0.01,0.36,1.60
238,239,Polished Wrap Trousers,Pants,25,1594.37,0.07,0.35,1.59
444,445,Bold Cotton Set,Sleepwear,30,1489.98,0.03,0.33,1.49
1,2,Soft Wrap Tee,T-Shirts,20,1474.86,0.06,0.26,1.47
427,428,Elegant High-Waist Shoes,Shoes,25,1438.67,0.05,0.29,1.44
52,53,Soft Boxy Shoes,Shoes,25,1429.25,0.00,0.32,1.43
203,204,Polished Boxy Dress,Dresses,36,1407.28,0.01,0.32,1.41
420,421,Elegant Sleeveless Set,Sleepwear,27,1374.03,0.00,0.36,1.37
421,422,Elegant High-Waist Set,Sleepwear,24,1341.84,0.00,0.36,1.34
279,280,Essential Linen Tee,T-Shirts,30,1324.20,0.00,0.36,1.32
389,390,Tailored Boxy Shoes,Shoes,22,1305.26,0.00,0.36,1.31
165,166,Vintage Satin Shoes,Shoes,20,1292.15,0.02,0.34,1.29
33,34,Modern Linen Dress,Dresses,26,1256.84,0.00,0.32,1.26
466,468,Sleepwear Drop 1,Sleepwear,24,1243.20,0.00,0.34,1.24
249,250,Relaxed Satin Shoes,Shoes,18,1227.96,0.00,0.34,1.23
62,63,Soft Crew Set,Sleepwear,22,1202.74,0.08,0.28,1.20
43,44,Modern Wrap Trousers,Pants,19,1115.25,0.10,0.23,1.12
472,474,Bold Cotton Shoes,Shoes,16,1095.52,0.00,0.33,1.10
69,70,Modern Boxy Dress,Dresses,16,1061.28,0.00,0.30,1.06
488,490,Bold Boxy Shoes,Shoes,26,1024.92,0.00,0.33,1.02
11,12,Soft Ribbed Dress,Dresses,23,1016.28,0.04,0.27,1.02
408,409,Elegant Ribbed Shoes,Shoes,22,980.72,0.06,0.27,0.98
267,268,Polished Boxy Set,Sleepwear,20,962.05,0.04,0.35,0.96
241,242,Relaxed Ribbed Shoes,Shoes,19,958.38,0.02,0.30,0.96
446,447,Bold Satin Dress,Dresses,20,953.20,0.00,0.30,0.95
183,184,Vintage Wrap Trousers,Pants,23,947.72,0.04,0.30,0.95
230,231,Polished High-Waist Shoes,Shoes,21,925.26,0.00,0.36,0.93
321,322,Essential Sleeveless Dress,Dresses,22,924.56,0.04,0.35,0.92
276,277,Relaxed Boxy Tee,T-Shirts,21,922.32,0.00,0.36,0.92
53,54,Modern Silk Dress,Dresses,15,904.95,0.00,0.33,0.90
382,383,Tailored Crew Set,Sleepwear,14,889.49,0.06,0.36,0.89

In [217]:
low_demand_cutoff = product_revenue['items_sold'].quantile(0.25)
high_discount_cutoff = product_revenue['avg_discount_pct'].quantile(0.75)

In [218]:
discounted_low_demand = (
    product_revenue[
        (product_revenue['items_sold'] <= low_demand_cutoff) &
        (product_revenue['avg_discount_pct'] >= high_discount_cutoff)
    ]
    .sort_values(by='avg_discount_pct', ascending=False)
)

discounted_low_demand

,product_id,product_name,category,items_sold,revenue,avg_discount_pct,avg_margin_pct,revenue_k
327,328,Tailored Wrap Dress,Dresses,7,195.16,0.30,0.17,0.20
204,205,Vintage Satin Trousers,Pants,6,137.09,0.15,0.29,0.14
281,282,Polished High-Waist Trousers,Pants,5,213.69,0.15,0.39,0.21
244,245,Relaxed Cotton Dress,Dresses,7,159.42,0.15,0.51,0.16
307,308,Relaxed Linen Trousers,Pants,6,233.66,0.15,0.40,0.23
323,324,Tailored Linen Tee,T-Shirts,3,144.74,0.15,0.41,0.14
303,304,Essential Silk Tee,T-Shirts,7,334.77,0.15,0.28,0.33
273,274,Relaxed Wrap Set,Sleepwear,8,343.50,0.15,0.18,0.34
489,491,T-Shirts Drop 6,T-Shirts,6,129.16,0.15,0.35,0.13
305,306,Relaxed Silk Set,Sleepwear,6,425.62,0.15,0.16,0.43
44,45,Soft Sleeveless Tee,T-Shirts,7,346.62,0.10,0.45,0.35
195,196,Vintage Cotton Trousers,Pants,3,160.41,0.10,0.44,0.16
98,99,Modern Boxy Tee,T-Shirts,7,382.59,0.10,0.53,0.38
82,83,Modern Sleeveless Tee,T-Shirts,6,329.46,0.10,0.43,0.33
438,439,Tailored Linen Trousers,Pants,8,382.90,0.10,0.30,0.38
442,443,Bold Ribbed Set,Sleepwear,7,154.97,0.10,0.41,0.15
468,470,Sleepwear Drop 2,Sleepwear,7,433.47,0.10,0.21,0.43
50,51,Soft Satin Set,Sleepwear,5,119.29,0.10,0.21,0.12
476,478,T-Shirts Drop 2,T-Shirts,8,492.25,0.08,0.37,0.49
310,311,Essential Cotton Dress,Dresses,6,238.59,0.07,0.43,0.24
481,483,T-Shirts Drop 3,T-Shirts,7,389.70,0.06,0.42,0.39
347,348,Essential Silk Set,Sleepwear,7,230.95,0.05,0.56,0.23
285,286,Essential Satin Shoes,Shoes,8,447.72,0.05,0.57,0.45
402,403,Elegant Satin Dress,Dresses,5,376.28,0.05,0.42,0.38
135,136,Classic Cotton Trousers,Pants,7,304.20,0.05,0.48,0.30

## 4. Inventory & Operations

In [219]:
task4_df

,item_id,sale_id,product_id,quantity,original_price,unit_price,discount_applied,discount_percent,discounted,item_total,...,country,product_name,category,brand,color,size,catalog_price,cost_price,gender,stock_quantity
0,2270,658,403,1,81.80,81.80,0.00,0.0,0,81.80,...,Portugal,Elegant Satin Dress,Dresses,MATRIX,Red,L,81.80,45.12,Female,0.0
1,1170,336,284,1,81.79,81.79,0.00,0.0,0,81.79,...,France,Essential Cotton Shoes,Shoes,MATRIX,White,35,81.79,35.02,Female,98.0
2,2496,1255,71,1,80.76,80.76,0.00,0.0,0,80.76,...,Germany,Modern Ribbed Trousers,Pants,MATRIX,Red,XL,80.76,51.01,Female,1.0
3,1273,331,98,1,78.52,78.52,0.00,0.0,0,78.52,...,Italy,Modern Boxy Shoes,Shoes,MATRIX,Black,38,78.52,41.48,Female,0.0
4,1829,1079,98,1,78.52,78.52,0.00,0.0,0,78.52,...,Germany,Modern Boxy Shoes,Shoes,MATRIX,Black,38,78.52,41.48,Female,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,516,1300,334,5,20.82,20.82,0.00,0.0,0,104.10,...,Germany,Tailored Ribbed Dress,Dresses,MATRIX,Black,M,20.82,9.05,Female,1.0
2249,1240,727,334,5,20.82,20.82,0.00,0.0,0,104.10,...,Netherlands,Tailored Ribbed Dress,Dresses,MATRIX,Black,M,20.82,9.05,Female,0.0
2250,2394,172,246,5,28.98,20.29,8.69,0.3,1,101.43,...,Spain,Relaxed Satin Dress,Dresses,MATRIX,White,XS,28.98,19.66,Female,0.0
2251,1631,986,195,5,16.69,16.69,0.00,0.0,0,83.45,...,France,Vintage Crew Tee,T-Shirts,MATRIX,Black,XL,16.69,8.37,Female,2.0
2252,685,724,346,5,15.31,15.31,0.00,0.0,0,76.55,...,France,Relaxed Crew Trousers,Pants,MATRIX,Green,XL,15.31,8.95,Female,27.0

In [220]:
task4_df.isna().sum()

item_id              0
sale_id              0
product_id           0
quantity             0
original_price       0
unit_price           0
discount_applied     0
discount_percent     0
discounted           0
item_total           0
sale_date            0
channel              0
channel_campaigns    0
country              0
product_name         0
category             0
brand                0
color                0
size                 0
catalog_price        0
cost_price           0
gender               0
stock_quantity       0
dtype: int64

In [221]:
task3_df.duplicated().sum()

0

In [222]:
task4_df['sales_units'] = task4_df['quantity']

In [223]:
stock_coverage = (
    task4_df
    .groupby(['country', 'category'])
    .agg(
        units_sold=('sales_units', 'sum'),
        avg_stock=('stock_quantity', 'mean'),
        min_stock=('stock_quantity', 'min'),
        max_stock=('stock_quantity', 'max')
    )
    .reset_index()
)

stock_coverage

        country   category  units_sold  avg_stock  min_stock  max_stock
0        France    Dresses         331  49.696429        3.0       99.0
1        France      Pants         244  45.025974        1.0       99.0
2        France      Shoes         297  47.000000        2.0       98.0
3        France  Sleepwear         275  50.574468        1.0       99.0
4        France   T-Shirts         322  46.628319        1.0       99.0
5       Germany    Dresses         321   1.000000        1.0        1.0
6       Germany      Pants         274   1.000000        1.0        1.0
7       Germany      Shoes         289   1.000000        1.0        1.0
8       Germany  Sleepwear         330   1.000000        1.0        1.0
9       Germany   T-Shirts         365   1.000000        1.0        1.0
10        Italy    Dresses         277   0.000000        0.0        0.0
11        Italy      Pants         182   0.000000        0.0        0.0
12        Italy      Shoes         275   0.000000        0.0        0.0
13        Italy  Sleepwear         216   0.000000        0.0        0.0
14        Italy   T-Shirts         280   0.000000        0.0        0.0
15  Netherlands    Dresses         241   0.000000        0.0        0.0
16  Netherlands      Pants         155   0.000000        0.0        0.0
17  Netherlands      Shoes         234   0.000000        0.0        0.0
18  Netherlands  Sleepwear         192   0.000000        0.0        0.0
19  Netherlands   T-Shirts         167   0.000000        0.0        0.0
20     Portugal    Dresses         113   0.000000        0.0        0.0
21     Portugal      Pants         101   0.000000        0.0        0.0
22     Portugal      Shoes         130   0.000000        0.0        0.0
23     Portugal  Sleepwear         132   0.000000        0.0        0.0
24     Portugal   T-Shirts         129   0.000000        0.0        0.0
25        Spain    Dresses         168   0.000000        0.0        0.0
26        Spain      Pants         107   0.000000        0.0        0.0
27        Spain      Shoes         175   0.000000        0.0        0.0
28        Spain  Sleepwear         217   0.000000        0.0        0.0
29        Spain   T-Shirts         176   0.000000        0.0        0.0

In [224]:
stock_coverage.to_csv('stock_coverage_report.csv', index=False)

In [225]:
sku_demand_stock = (
    task4_df
    .groupby(['country', 'product_id', 'product_name', 'category'])
    .agg(
        units_sold=('quantity', 'sum'),
        avg_stock=('stock_quantity', 'mean')
    )
    .reset_index()
)

In [226]:
high_demand_cutoff = sku_demand_stock['units_sold'].quantile(0.75)
low_stock_cutoff = sku_demand_stock['avg_stock'].quantile(0.25)

In [227]:
stockout_risk = (
    sku_demand_stock[
        (sku_demand_stock['units_sold'] >= high_demand_cutoff) &
        (sku_demand_stock['avg_stock'] <= low_stock_cutoff)
    ]
    .sort_values(by='units_sold', ascending=False)
)

stockout_risk

,country,product_id,product_name,category,units_sold,avg_stock
875,Italy,401,Elegant Cotton Dress,Dresses,16,0.0
1366,Spain,63,Soft Crew Set,Sleepwear,16,0.0
724,Italy,129,Classic Linen Trousers,Pants,15,0.0
696,Italy,88,Modern Satin Set,Sleepwear,14,0.0
671,Italy,38,Soft Crew Tee,T-Shirts,13,0.0
...,...,...,...,...,...,...
1078,Netherlands,309,Essential Ribbed Dress,Dresses,5,0.0
1079,Netherlands,310,Relaxed Ribbed Trousers,Pants,5,0.0
1083,Netherlands,319,Essential Silk Dress,Dresses,5,0.0
1085,Netherlands,322,Essential Sleeveless Dress,Dresses,5,0.0
1546,Spain,495,Dresses Drop 7,Dresses,5,0.0

In [228]:
stockout_risk.to_csv('stockout_risk_report.csv', index=False)

In [229]:
low_demand_cutoff = sku_demand_stock['units_sold'].quantile(0.25)
high_stock_cutoff = sku_demand_stock['avg_stock'].quantile(0.75)

In [230]:
overstock_risk = (
    sku_demand_stock[
        (sku_demand_stock['units_sold'] <= low_demand_cutoff) &
        (sku_demand_stock['avg_stock'] >= high_stock_cutoff)
    ]
    .sort_values(by='avg_stock', ascending=False)
)

overstock_risk

,country,product_id,product_name,category,units_sold,avg_stock
280,France,461,Bold High-Waist Tee,T-Shirts,1,99.0
257,France,427,Bold Wrap Set,Sleepwear,1,99.0
140,France,240,Polished Linen Trousers,Pants,2,99.0
72,France,127,Classic Wrap Trousers,Pants,2,97.0
31,France,64,Soft Sleeveless Set,Sleepwear,1,90.0
...,...,...,...,...,...,...
439,Germany,198,Polished Crew Dress,Dresses,2,1.0
430,Germany,184,Vintage Wrap Trousers,Pants,2,1.0
429,Germany,181,Vintage High-Waist Shoes,Shoes,1,1.0
418,Germany,170,Vintage Boxy Dress,Dresses,1,1.0
645,Germany,492,Tailored Crew Trousers,Pants,2,1.0

In [231]:
overstock_risk.to_csv('overstock_risk_report.csv', index=False)

In [232]:
slow_movers = sku_demand_stock[
    sku_demand_stock['units_sold'] <= low_demand_cutoff
]

In [233]:
slow_mover_summary = (
    slow_movers
    .groupby('country')
    .agg(
        slow_mover_skus=('product_id', 'nunique'),
        avg_stock_per_sku=('avg_stock', 'mean')
    )
    .reset_index()
)

slow_mover_summary

       country  slow_mover_skus  avg_stock_per_sku
0       France               65          53.276923
1      Germany               79           1.000000
2        Italy               88           0.000000
3  Netherlands               72           0.000000
4     Portugal               56           0.000000
5        Spain               65           0.000000

In [234]:
slow_mover_summary.to_csv('slow_mover_summary_report.csv', index=False)

## 5. Customers

In [235]:
task5_df

,sale_id,channel,discounted,total_amount,sale_date,customer_id,purchase_country,customer_country,age_range,signup_date
0,10,E-commerce,0,299.70,2025-05-21,195,France,France,56-65,2025-02-28
1,100,App Mobile,0,681.05,2025-04-21,518,Germany,Germany,46-55,2025-03-29
2,1000,E-commerce,0,324.50,2025-05-20,439,Germany,Germany,36-45,2025-05-11
3,1001,E-commerce,0,287.85,2025-04-05,349,Germany,Germany,26-35,2025-03-20
4,1003,App Mobile,0,430.64,2025-06-06,727,Portugal,Portugal,26-35,2025-03-09
...,...,...,...,...,...,...,...,...,...,...
900,992,App Mobile,1,214.08,2025-05-13,375,Germany,Germany,36-45,2025-02-28
901,993,E-commerce,0,311.37,2025-04-21,99,Spain,Spain,36-45,2025-03-17
902,994,App Mobile,1,477.09,2025-05-15,798,Portugal,Portugal,46-55,2025-03-14
903,995,E-commerce,0,489.02,2025-05-19,565,Spain,Spain,46-55,2025-05-08
904,999,E-commerce,0,109.62,2025-06-16,416,France,France,46-55,2025-04-01

In [236]:
task5_df.isna().sum()

sale_id             0
channel             0
discounted          0
total_amount        0
sale_date           0
customer_id         0
purchase_country    0
customer_country    0
age_range           0
signup_date         0
dtype: int64

In [237]:
task5_df.duplicated().sum()

0

In [238]:
customer_country_perf = (
    task5_df
    .groupby('purchase_country')
    .agg(
        customers=('customer_id', 'nunique'),
        orders=('sale_id', 'nunique'),
        total_revenue=('total_amount', 'sum'),
        avg_order_value=('total_amount', 'mean')
    )
    .reset_index()
)

customer_country_perf[['total_revenue',
                       'avg_order_value']] = (
    customer_country_perf[['total_revenue',
                            'avg_order_value']].round(2)
)

customer_country_perf['total_revenue_k'] = (
    customer_country_perf['total_revenue'] / 1000
)

customer_country_perf

,purchase_country,customers,orders,total_revenue,avg_order_value,total_revenue_k
0,France,125,199,72300.66,363.32,72.30066
1,Germany,145,212,74590.69,351.84,74.59069
2,Italy,103,170,59458.11,349.75,59.45811
3,Netherlands,84,131,46841.46,357.57,46.84146
4,Portugal,48,80,29930.95,374.14,29.93095
5,Spain,75,113,41114.79,363.85,41.11479

In [239]:
age_perf = (
    task5_df
    .groupby('age_range')
    .agg(
        customers=('customer_id', 'nunique'),
        orders=('sale_id', 'nunique'),
        avg_order_value=('total_amount', 'mean'),
        discounted_orders_pct=('discounted', 'mean'),
        total_revenue=('total_amount', 'sum')
    )
    .reset_index()
)

age_perf['discounted_orders_pct'] = (
    age_perf['discounted_orders_pct'] * 100
).round(2)

age_perf['avg_order_value'] = age_perf['avg_order_value'].round(2)

age_perf['total_revenue_k'] = (
    age_perf['total_revenue'] / 1000
)

age_perf

,age_range,customers,orders,avg_order_value,discounted_orders_pct,total_revenue,total_revenue_k
0,16-25,116,181,364.19,9.39,65918.37,65.91837
1,26-35,121,189,367.55,10.05,69466.31,69.46631
2,36-45,122,188,363.68,9.04,68371.81,68.37181
3,46-55,111,176,355.88,11.36,62635.41,62.63541
4,56-65,110,171,338.27,9.36,57844.76,57.84476

In [240]:
task5_df['signup_cohort'] = (
    task5_df['signup_date']
    .dt.to_period('Q')
    .astype(str)
)

In [241]:
cohort_perf = (
    task5_df
    .groupby('signup_cohort')
    .agg(
        customers=('customer_id', 'nunique'),
        orders=('sale_id', 'nunique'),
        avg_order_value=('total_amount', 'mean'),
        discounted_orders_pct=('discounted', 'mean'),
        total_revenue=('total_amount', 'sum')
    )
    .reset_index()
    .sort_values(by='signup_cohort')
)

cohort_perf[['avg_order_value',
             'discounted_orders_pct']] = (
    cohort_perf[['avg_order_value',
                 'discounted_orders_pct']].round(2)
)

cohort_perf['total_revenue_k'] = (
    cohort_perf['total_revenue'] / 1000
)

cohort_perf

,signup_cohort,customers,orders,avg_order_value,discounted_orders_pct,total_revenue,total_revenue_k
0,2025Q1,334,556,360.14,0.10,200236.67,200.23667
1,2025Q2,246,349,355.30,0.09,123999.99,123.99999

In [242]:
customer_value = (
    task5_df
    .groupby('customer_id')
    .agg(
        total_spend=('total_amount', 'sum'),
        orders=('sale_id', 'nunique'),
        discount_rate=('discounted', 'mean')
    )
    .reset_index()
)

In [243]:
customer_value['spend_bucket'] = pd.qcut(
    customer_value['total_spend'],
    q=4,
    labels=['Low', 'Mid-Low', 'Mid-High', 'High']
)

In [244]:
discount_sensitivity = (
    customer_value
    .groupby('spend_bucket')
    .agg(
        customers=('customer_id', 'count'),
        total_orders=('orders', 'sum'),
        avg_orders=('orders', 'mean'),
        avg_discount_rate=('discount_rate', 'mean'),
        total_revenue=('total_spend', 'sum'),
        avg_order_value=('total_spend', 'mean')
    )
    .reset_index()
)

discount_sensitivity['avg_discount_rate'] = (
    discount_sensitivity['avg_discount_rate'] * 100
).round(2)

discount_sensitivity['avg_orders'] = (
    discount_sensitivity['avg_orders'].round(2)
)

discount_sensitivity['total_revenue_k'] = (
    discount_sensitivity['total_revenue'] / 1000
)

discount_sensitivity

C:\Users\shrey\AppData\Local\Temp\ipykernel_17448\739364592.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  .groupby('spend_bucket')

,spend_bucket,customers,total_orders,avg_orders,avg_discount_rate,total_revenue,avg_order_value,total_revenue_k
0,Low,145,147,1.01,14.48,31722.98,218.779172,31.72298
1,Mid-Low,145,161,1.11,10.00,56112.37,386.981862,56.11237
2,Mid-High,145,230,1.59,6.67,84673.56,583.955586,84.67356
3,High,145,367,2.53,8.13,151727.75,1046.398276,151.72775

## RFM Analysis

In [245]:
task5_df

,sale_id,channel,discounted,total_amount,sale_date,customer_id,purchase_country,customer_country,age_range,signup_date,signup_cohort
0,10,E-commerce,0,299.70,2025-05-21,195,France,France,56-65,2025-02-28,2025Q1
1,100,App Mobile,0,681.05,2025-04-21,518,Germany,Germany,46-55,2025-03-29,2025Q1
2,1000,E-commerce,0,324.50,2025-05-20,439,Germany,Germany,36-45,2025-05-11,2025Q2
3,1001,E-commerce,0,287.85,2025-04-05,349,Germany,Germany,26-35,2025-03-20,2025Q1
4,1003,App Mobile,0,430.64,2025-06-06,727,Portugal,Portugal,26-35,2025-03-09,2025Q1
...,...,...,...,...,...,...,...,...,...,...,...
900,992,App Mobile,1,214.08,2025-05-13,375,Germany,Germany,36-45,2025-02-28,2025Q1
901,993,E-commerce,0,311.37,2025-04-21,99,Spain,Spain,36-45,2025-03-17,2025Q1
902,994,App Mobile,1,477.09,2025-05-15,798,Portugal,Portugal,46-55,2025-03-14,2025Q1
903,995,E-commerce,0,489.02,2025-05-19,565,Spain,Spain,46-55,2025-05-08,2025Q2
904,999,E-commerce,0,109.62,2025-06-16,416,France,France,46-55,2025-04-01,2025Q2

In [246]:
analysis_date = task5_df['sale_date'].max() + pd.Timedelta(days=1)

In [247]:
rfm = (
    task5_df
    .groupby('customer_id')
    .agg(
        recency=('sale_date', lambda x: (analysis_date - x.max()).days),
        frequency=('sale_id', 'nunique'),
        monetary=('total_amount', 'sum')
    )
    .reset_index()
)

rfm

     customer_id  recency  frequency  monetary
0              1       54          1    663.69
1              2       23          3   1450.65
2              5       27          2    836.54
3              9       24          2    692.80
4             12       58          1    560.00
..           ...      ...        ...       ...
575          992       57          1    381.98
576          993       33          2    356.25
577          996       73          2    699.55
578          997       24          2    862.39
579          999       12          2    690.26

[580 rows x 4 columns]

In [248]:
rfm['R_score'] = pd.qcut(
    rfm['recency'],
    q=5,
    labels=[5, 4, 3, 2, 1]
).astype(int)

In [249]:
rfm['F_score'] = pd.qcut(
    rfm['frequency'].rank(method='first'),
    q=5,
    labels=[1, 2, 3, 4, 5]
).astype(int)

In [250]:
rfm['M_score'] = pd.qcut(
    rfm['monetary'],
    q=5,
    labels=[1, 2, 3, 4, 5]
).astype(int)

In [251]:
def rfm_segment(row):
    if row['R_score'] == 5 and row['F_score'] == 5 and row['M_score'] == 5:
        return 'Top Customers'
    elif row['F_score'] >= 4 and row['M_score'] >= 4:
        return 'Loyal Customers'
    elif row['R_score'] == 5:
        return 'Recent Customers'
    elif row['M_score'] == 5:
        return 'Big Spenders'
    elif row['R_score'] == 1 and row['F_score'] == 1 and row['M_score'] == 1:
        return 'Low Value Customers'
    elif row['R_score'] >= 4 and row['F_score'] >= 3:
        return 'Potential Loyalists'
    elif (row['R_score'] in [2, 3]) and (row['F_score'] in [2, 3]):
        return 'At Risk Customers'
    elif row['R_score'] == 1:
        return 'Lost Customers'
    else:
        return 'Others'

In [252]:
rfm['segment'] = rfm.apply(rfm_segment, axis=1)

In [253]:
rfm

,customer_id,recency,frequency,monetary,R_score,F_score,M_score,segment
0,1,54,1,663.69,2,1,4,Others
1,2,23,3,1450.65,4,5,5,Loyal Customers
2,5,27,2,836.54,3,3,5,Big Spenders
3,9,24,2,692.80,4,3,4,Potential Loyalists
4,12,58,1,560.00,1,1,4,Lost Customers
...,...,...,...,...,...,...,...,...
575,992,57,1,381.98,1,3,2,Lost Customers
576,993,33,2,356.25,3,5,2,Others
577,996,73,2,699.55,1,5,4,Loyal Customers
578,997,24,2,862.39,4,5,5,Loyal Customers
579,999,12,2,690.26,5,5,4,Loyal Customers

In [254]:
pd.DataFrame(rfm['segment'].value_counts())

                     count
segment
Loyal Customers        167
Others                 114
Lost Customers          96
At Risk Customers       88
Recent Customers        55
Potential Loyalists     26
Top Customers           26
Low Value Customers      6
Big Spenders             2

In [255]:
segment_summary = (
    rfm
    .groupby('segment')
    .agg(
        customers=('customer_id', 'count'),
        R_avg=('R_score', 'mean'),
        F_avg=('F_score', 'mean'),
        M_avg=('M_score', 'mean')
    )
    .reset_index()
)

segment_summary[['R_avg', 'F_avg', 'M_avg']] = (
    segment_summary[['R_avg', 'F_avg', 'M_avg']].round(2)
)

segment_summary

               segment  customers  R_avg  F_avg  M_avg
0    At Risk Customers         88   2.39   2.55   2.15
1         Big Spenders          2   3.00   2.50   5.00
2       Lost Customers         96   1.00   2.15   2.19
3  Low Value Customers          6   1.00   1.00   1.00
4      Loyal Customers        167   3.49   4.45   4.52
5               Others        114   3.02   1.75   2.18
6  Potential Loyalists         26   4.00   3.31   2.54
7     Recent Customers         55   5.00   2.56   2.27
8        Top Customers         26   5.00   5.00   5.00

In [256]:
segment_summary_absolute = (
    rfm
    .groupby('segment')
    .agg(
        customers=('customer_id', 'count'),
        avg_recency_days=('recency', 'mean'),
        avg_frequency_orders=('frequency', 'mean'),
        avg_monetary_value=('monetary', 'mean')
    )
    .reset_index()
)

segment_summary_absolute[['avg_recency_days',
                          'avg_frequency_orders',
                          'avg_monetary_value']] = (
    segment_summary_absolute[['avg_recency_days',
                              'avg_frequency_orders',
                              'avg_monetary_value']].round(2)
)

segment_summary_absolute

,segment,customers,avg_recency_days,avg_frequency_orders,avg_monetary_value
0,At Risk Customers,88,40.35,1.02,361.19
1,Big Spenders,2,26.50,1.50,826.57
2,Lost Customers,96,62.55,1.04,361.81
3,Low Value Customers,6,62.50,1.00,245.00
4,Loyal Customers,167,25.68,2.36,892.73
5,Others,114,31.84,1.18,362.80
6,Potential Loyalists,26,21.27,1.31,417.42
7,Recent Customers,55,4.38,1.20,381.71
8,Top Customers,26,5.81,3.00,1242.42

In [257]:
high_value_segments = segment_summary[
    segment_summary['segment'].isin([
        'Top Customers', 'Loyal Customers', 'Big Spenders'
    ])
]

high_value_segments

           segment  customers  R_avg  F_avg  M_avg
1     Big Spenders          2   3.00   2.50   5.00
4  Loyal Customers        167   3.49   4.45   4.52
8    Top Customers         26   5.00   5.00   5.00

In [258]:
rfm_discount = (
    task5_df
    .merge(rfm[['customer_id', 'segment']], on='customer_id')
    .groupby('segment')
    .agg(
        avg_discount_rate=('discounted', 'mean')
    )
    .reset_index()
)

rfm_discount['avg_discount_rate'] = (
    rfm_discount['avg_discount_rate'] * 100
).round(2)

rfm_discount

               segment  avg_discount_rate
0    At Risk Customers              16.67
1         Big Spenders               0.00
2       Lost Customers               2.00
3  Low Value Customers               0.00
4      Loyal Customers               9.14
5               Others              15.67
6  Potential Loyalists               8.82
7     Recent Customers               9.09
8        Top Customers               7.69

In [259]:
segment_channel_pref = (
    task5_df
    .merge(rfm[['customer_id', 'segment']], on='customer_id')
    .groupby(['segment', 'channel'])
    .agg(
        orders=('sale_id', 'nunique')
    )
    .reset_index()
)

segment_channel_pref

                segment     channel  orders
0     At Risk Customers  App Mobile      42
1     At Risk Customers  E-commerce      48
2          Big Spenders  App Mobile       2
3          Big Spenders  E-commerce       1
4        Lost Customers  App Mobile      51
5        Lost Customers  E-commerce      49
6   Low Value Customers  App Mobile       1
7   Low Value Customers  E-commerce       5
8       Loyal Customers  App Mobile     178
9       Loyal Customers  E-commerce     216
10               Others  App Mobile      67
11               Others  E-commerce      67
12  Potential Loyalists  App Mobile      18
13  Potential Loyalists  E-commerce      16
14     Recent Customers  App Mobile      30
15     Recent Customers  E-commerce      36
16        Top Customers  App Mobile      43
17        Top Customers  E-commerce      35

In [260]:
segment_channel_horizontal = (
    segment_channel_pref
    .pivot(
        index='segment',
        columns='channel',
        values='orders'
    )
    .fillna(0)
    .reset_index()
)

segment_channel_horizontal

channel              segment  App Mobile  E-commerce
0          At Risk Customers          42          48
1               Big Spenders           2           1
2             Lost Customers          51          49
3        Low Value Customers           1           5
4            Loyal Customers         178         216
5                     Others          67          67
6        Potential Loyalists          18          16
7           Recent Customers          30          36
8              Top Customers          43          35

## BCG Matrix

In [261]:
task3_df

,item_id,sale_id,product_id,quantity,original_price,unit_price,discount_applied,discount_percent,discounted,item_total,...,product_name,category,brand,color,size,catalog_price,cost_price,gender,gross_margin,gross_margin_pct
0,2270,658,403,1,81.80,81.80,0.00,0.0,0,81.80,...,Elegant Satin Dress,Dresses,MATRIX,Red,L,81.80,45.12,Female,36.68,0.448411
1,1170,336,284,1,81.79,81.79,0.00,0.0,0,81.79,...,Essential Cotton Shoes,Shoes,MATRIX,White,35,81.79,35.02,Female,46.77,0.571830
2,2496,1255,71,1,80.76,80.76,0.00,0.0,0,80.76,...,Modern Ribbed Trousers,Pants,MATRIX,Red,XL,80.76,51.01,Female,29.75,0.368375
3,1273,331,98,1,78.52,78.52,0.00,0.0,0,78.52,...,Modern Boxy Shoes,Shoes,MATRIX,Black,38,78.52,41.48,Female,37.04,0.471727
4,1829,1079,98,1,78.52,78.52,0.00,0.0,0,78.52,...,Modern Boxy Shoes,Shoes,MATRIX,Black,38,78.52,41.48,Female,37.04,0.471727
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,516,1300,334,5,20.82,20.82,0.00,0.0,0,104.10,...,Tailored Ribbed Dress,Dresses,MATRIX,Black,M,20.82,9.05,Female,11.77,0.565322
2249,1240,727,334,5,20.82,20.82,0.00,0.0,0,104.10,...,Tailored Ribbed Dress,Dresses,MATRIX,Black,M,20.82,9.05,Female,11.77,0.565322
2250,2394,172,246,5,28.98,20.29,8.69,0.3,1,101.43,...,Relaxed Satin Dress,Dresses,MATRIX,White,XS,28.98,19.66,Female,0.63,0.031050
2251,1631,986,195,5,16.69,16.69,0.00,0.0,0,83.45,...,Vintage Crew Tee,T-Shirts,MATRIX,Black,XL,16.69,8.37,Female,8.32,0.498502
2252,685,724,346,5,15.31,15.31,0.00,0.0,0,76.55,...,Relaxed Crew Trousers,Pants,MATRIX,Green,XL,15.31,8.95,Female,6.36,0.415415

In [262]:
product_bcg = (
    task3_df
    .groupby(['product_id', 'product_name', 'category'])
    .agg(
        revenue=('item_total', 'sum'),
        units_sold=('quantity', 'sum'),
        avg_margin_pct=('gross_margin_pct', 'mean')
    )
    .reset_index()
)

In [263]:
total_revenue = product_bcg['revenue'].sum()
product_bcg['relative_revenue_share'] = (
    product_bcg['revenue'] / total_revenue
)

In [264]:
product_bcg['demand_velocity'] = product_bcg['units_sold']

In [265]:
rev_threshold = product_bcg['relative_revenue_share'].median()
demand_threshold = product_bcg['demand_velocity'].median()

In [266]:
def bcg_class(row):
    if row['relative_revenue_share'] >= rev_threshold and row['demand_velocity'] >= demand_threshold:
        return 'Stars'
    elif row['relative_revenue_share'] >= rev_threshold and row['demand_velocity'] < demand_threshold:
        return 'Cash Cows'
    elif row['relative_revenue_share'] < rev_threshold and row['demand_velocity'] >= demand_threshold:
        return 'Question Marks'
    else:
        return 'Dogs'

product_bcg['bcg_quadrant'] = product_bcg.apply(bcg_class, axis=1)

In [267]:
product_bcg

,product_id,product_name,category,revenue,units_sold,avg_margin_pct,relative_revenue_share,demand_velocity,bcg_quadrant
0,1,Soft Wrap Dress,Dresses,408.14,11,0.414598,0.001259,11,Dogs
1,2,Soft Wrap Tee,T-Shirts,1474.86,20,0.256003,0.004549,20,Stars
2,3,Soft Linen Tee,T-Shirts,454.10,19,0.380335,0.001401,19,Question Marks
3,4,Soft Ribbed Tee,T-Shirts,540.00,9,0.420333,0.001665,9,Dogs
4,5,Soft Wrap Trousers,Pants,1197.30,34,0.531932,0.003693,34,Stars
...,...,...,...,...,...,...,...,...,...
494,496,Tailored High-Waist Trousers,Pants,977.52,20,0.421789,0.003015,20,Stars
495,497,Dresses Drop 8,Dresses,342.47,10,0.403635,0.001056,10,Dogs
496,498,T-Shirts Drop 8,T-Shirts,804.93,21,0.576572,0.002483,21,Stars
497,499,Sleepwear Drop 4,Sleepwear,240.56,8,0.307616,0.000742,8,Dogs
498,500,Dresses Drop 9,Dresses,342.27,9,0.304233,0.001056,9,Dogs

In [268]:
product_bcg.to_csv('product_bcg_report.csv', index=False)

In [269]:
bcg_margin = (
    product_bcg
    .groupby('bcg_quadrant')
    .agg(
        products=('product_id', 'nunique'),
        avg_margin_pct=('avg_margin_pct', 'mean'),
        total_revenue=('revenue', 'sum')
    )
    .reset_index()
)

bcg_margin

     bcg_quadrant  products  avg_margin_pct  total_revenue
0       Cash Cows        28        0.443227       19849.78
1            Dogs       210        0.432931       71055.40
2  Question Marks        39        0.429268       18810.99
3           Stars       222        0.430168      214520.49

## Dashboard Tables

In [270]:
display(sales.dtypes)
display(items.dtypes)
display(customers.dtypes)
display(campaigns.dtypes)
display(channels.dtypes)
display(products.dtypes)
display(stocks.dtypes)

sale_id                  int64
channel                 object
discounted               int64
total_amount           float64
sale_date       datetime64[ns]
customer_id              int64
country                 object
dtype: object

item_id                       int64
sale_id                       int64
product_id                    int64
quantity                      int64
original_price              float64
unit_price                  float64
discount_applied            float64
discount_percent            float64
discounted                    int64
item_total                  float64
sale_date            datetime64[ns]
channel                      object
channel_campaigns            object
dtype: object

customer_id             int64
country                object
age_range              object
signup_date    datetime64[ns]
dtype: object

campaign_id                int64
campaign_name             object
start_date        datetime64[ns]
end_date          datetime64[ns]
channel                   object
discount_type             object
discount_value           float64
dtype: object

channel        object
description    object
dtype: object

product_id         int64
product_name      object
category          object
brand             object
color             object
size              object
catalog_price    float64
cost_price       float64
gender            object
dtype: object

country           object
product_id         int64
stock_quantity     int64
dtype: object

In [271]:
fact_sales = (
    items
    .merge(
        sales[['sale_id', 'sale_date', 'customer_id', 'country']],
        on='sale_id',
        how='left'
    )
    .merge(
        customers[['customer_id', 'age_range', 'signup_date']],
        on='customer_id',
        how='left'
    )
    .merge(
        products[['product_id', 'product_name', 'category', 'brand']],
        on='product_id',
        how='left'
    )
)

In [274]:
fact_sales.isna().sum()

item_id              0
sale_id              0
product_id           0
quantity             0
original_price       0
unit_price           0
discount_applied     0
discount_percent     0
discounted           0
item_total           0
sale_date_x          0
channel              0
channel_campaigns    0
sale_date_y          0
customer_id          0
country              0
age_range            0
signup_date          0
product_name         0
category             0
brand                0
dtype: int64

In [275]:
fact_sales.duplicated().sum()

0

In [277]:
fact_sales.to_csv('fact_sales.csv', index=False)